{% extends 'booking/layout.html' %}

{% block body %}
<table border='1' class="table" style="border:solid black;max-width:1800px;margin-left:65px;margin-top:100px">
  <tr>
      <th>Block</th>
      <th>Cooling</th>
      <th>Sharing</th>
      <th>Bathroom</th>
      <th>price</th>
  </tr>
  {% for x in room_details %}
    <tr>
        <td>{{ x.block }}</td>
        <td>{{ x.cooling }}</td>
        <td>{{ x.sharing }}</td>
        <td>{{ x.bathroom }}</td>
        <td>Rs. {{ x.price }}</td>
    </tr>
  {% endfor %}
</table>

{% endblock %}