{% extends "booking/layout.html" %}


{% block body %}
   <form style="max-width: 600px;
   margin-top:200px ;
   margin-left:700px;
   padding: 20px;
   border:  solid black;
   background-color: #f9f9f9">
    <ul>
        <li>Username: {{request.user.username}}</li>
        <li>First Name: {{ request.user.first_name }}</li>
        <li>Last Name: {{ request.user.last_name }}</li>
        <li>Email: {{request.user.email}}</li>
    </ul>
    <a href="{% url 'logout' %}" style=" margin-left:200px;background-color:rgb(124, 252, 0)
    ;border:1px solid black">Logout</a>
</form>

{% endblock %}